html, body {
    height: 100%;
    margin: 0;
}
  
body {
    background:  #fef8e4;
    font-family: Arial, sans-serif;
    color: #333;
    padding: 0;
    display: flex;
    flex-direction: column;
}
  
.main-content {
    flex-grow: 1;
}

form#add-book-form {
    box-sizing: border-box;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form#add-book-form input[type="text"],
form#add-book-form input[type="file"],
form#add-book-form button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form#add-book-form input[type="text"]:focus,
form#add-book-form input[type="file"]:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#message {
    margin: 20px auto;
    text-align: center;
    font-size: 24px;

}

#book-list {
    max-width: 200px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 8px;
}

.book-card {
    background-color: beige;
    border: 3px solid black;
    padding: 20px;
    margin-bottom: 10px;
}

.book-card[data-sizing="intrinsic"] {
    width: min-content;
    height: min-content;
}

.book-card img {
    height: 100px;
    width: 150px;
}

#add-text {
    text-align: center;
}

#name-api {
    margin-left: 10px;
}

#login-button {
    text-align: center;
    margin-top: 10px;
    right: 10px;
    padding: 10px 15px;
    background-color: beige;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: auto;
    max-width: 200px;
}

#login-button:hover{
    background-color: #45a049;
}

#selected-books-button{
    text-align: center;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: beige;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: auto;
    max-width: 200px;
}

#selected-books-button:hover{
    background-color: #45a049;
}


#button-container {
    display: flex;
    position: fixed;
    right: 10px;
}



