html, body {
    height: 100%;
    margin: 0;
}
  
body {
    background:  #fef8e4;
    font-family: Arial, sans-serif;
    color: #333;
    padding: 0;
    display: flex;
    flex-direction: column;
}
  
.main-content {
    flex-grow: 1;
}

form#add-book-form {
    box-sizing: border-box;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form#add-book-form input[type="text"],
form#add-book-form input[type="file"],
form#add-book-form button {
    display: block;
    width: 90%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form#add-book-form button {
    margin: 15px auto 0;
}

form#add-book-form input[type="text"]:focus,
form#add-book-form input[type="file"]:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#message {
    margin: 20px auto;
    text-align: center;
    font-size: 24px;
    transition: opacity 0.5s ease-in-out;
    display: block;
}

#book-list {
    max-width: 200px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 8px;
}

#book-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#book-list .book-card {
    background-color: beige;
    border: 3px solid black;
    padding: 20px;
    margin-bottom: 10px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

#book-list .book-card h3 {
    font-size: 1.2rem;
    color: #333;
}

#book-list .book-card h5 {
    font-size: 1rem;
    color: #666;
}

#book-list .book-card h4 {
    font-size: 1rem;
    color: #444;
    margin-bottom: 10px;
}

#book-list .book-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

#book-list .book-card button {
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
}

#book-list .book-card button:hover {
    background-color: #45a049;
}


#add-text {
    text-align: center;
}

#name-api {
    margin-left: 10px;
}

#login-button {
    text-align: center;
    margin-top: 10px;
    right: 10px;
    padding: 10px 15px;
    background-color: beige;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: auto;
    max-width: 200px;
}

#login-button:hover{
    background-color: #45a049;
}

#selected-books-button{
    text-align: center;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: beige;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: auto;
    max-width: 200px;
}

#selected-books-button:hover{
    background-color: #45a049;
}


#button-container {
    display: flex;
    position: fixed;
    right: 10px;
}

#reservation-block.show-form{
    display: flex;
}

#reservation-block {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

#res-block-content {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 20%;
    text-align: center;
}

#res-block-content h2 {
    font-size: 1.5rem;
    margin-top: 5px;
    color: #333;
}

#book-type,
#day-number {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#pickup-type {
    margin-top: 10px;
}

#reserve-form button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
}

#reserve-form button:hover {
    background-color: #45a049;
}

#day-number{
    width: 80%;
}

#close-form {
    background-color: #f44336;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    padding: 4px 7px;
    border-radius: 5px;
    margin-bottom: 15px;
    
}

#close-form:hover {
    background-color: #d32f2f;
}

#post-image:hover{
    cursor: pointer;
}

#book-price-div{
    text-align: center;
}


